{% extends 'base.html.twig' %}
{% block title %}
    <div class="section-title">
        <h2>Ajouter un Patient</h2>

    {{ form_start(formPatient,{'attr':{'novalidate' : 'novalidate'}}) }}

    {{ form_errors(formPatient.name)}}
        {{ form_label(formPatient.name,"Nom Patient") }}
        {{ form_widget(formPatient.name,{'attr': {'class': 'form-control'}}) }}

{{ form_errors(formPatient.email)}}
        {{ form_label(formPatient.email,"Adresse Email") }}
        {{ form_widget(formPatient.email,{'attr': {'class': 'form-control'}}) }}

{{ form_errors(formPatient.phone)}}
        {{ form_label(formPatient.phone,"Numéro Téléphone") }}
        {{ form_widget(formPatient.phone,{'attr': {'class': 'form-control'}}) }}

        {{ form_errors(formPatient.adresse)}}
        {{ form_label(formPatient.adresse,"Adresse Patient") }}
        {{ form_widget(formPatient.adresse,{'attr': {'class': 'form-control'}}) }}
        {{ form_end(formPatient) }}
        

        </div>
{% endblock %}