{% extends 'base2.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ patient.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ patient.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ patient.cin }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ patient.adresse }}</td>
            </tr>
            <tr>
                <th>Num_tel</th>
                <td>{{ patient.numTel }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ patient.mdp }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ patient.taille }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ patient.poids }}</td>
            </tr>
            <tr>
                <th>Maladie_chro</th>
                <td>{{ patient.maladieChro }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('patient_index') }}">back to list</a>

    <a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
