

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Validation Commande✅</h1>
    </div>
</section>
{% for message in app.flashes('info')  %}
    <div class="alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}


<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">

                    <thead>


                    <style>
                        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
                        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
                    </style>

                    <div class="example-wrapper">



                    </div>

{% block body %}
    <h1></h1>

    {{ form_start(form) }}
    {{ form_row(form.Nom) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.numero) }}
    {{ form_row(form.mail) }}
                    {{ form_row(form.message) }}



    {# render the captcha field to the form in the view #}
    <h5>Are you a Robot ?</h5>
    {{ form_row(form.captchaCode) }}

    <button class="btn">confirmer</button>
    {{ form_end(form) }}
{% endblock %}