{% extends 'base2.html.twig' %}

{% block body2 %}
    <h1>Medecin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Specialite</th>
                <th>Adresse</th>
                <th>Sexe</th>
                <th>Num_tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>
                <td>{{ medecin.id }}</td>
                <td>{{ medecin.nom }}</td>
                <td>{{ medecin.prenom }}</td>
                <td>{{ medecin.specialite }}</td>
                <td>{{ medecin.adresse }}</td>
                <td>{{ medecin.sexe }}</td>
                <td>{{ medecin.NumTel }}</td>
                <td>
                    <a href="{{ path('medecin_show', {'id': medecin.id}) }}">show</a>
                    <a href="{{ path('medecin_edit', {'id': medecin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('medecin_new') }}">Create new</a>
{% endblock %}
