{% extends 'film_base.html.twig' %}
{% block title %}


    <div class="section-title">
        <h2>Ajouter un film </h2>
    <div> {{ form_start(formFilm) }} <p>
            <small>* Champs requis</small>
        </p>
    </div>

        <div>
            {{ form_errors(formFilm.idfilm)}}
            {{ form_label(formFilm.idfilm,"identifiant : ") }}
            {{ form_widget(formFilm.idfilm)}}
            <p>
                <small>* Champs requis</small>
            </p>
        </div>
        {{ form_end(formFilm) }}
    </div>
{% endblock %}