{% extends 'film_base.html.twig' %}
{% block title %}
<table border="2">
    <tr>
        <td>id film</td>
        <td>nom</td>
        <td>date sortie</td>
        <td>categorie</td>
        <td>Update</td>
        <td>Delete</td>
</tr>

    {% for x in listfilm %}
        <tr>
            <td> {{x.idfilm}}</td>
            <td> {{x.nomfilm}}</td>
            <td> {{ x.datesortie | date('d/m/Y') }}</td>
            <td> {{x.categorie}}</td>
            <td><a href="{{ path('updateFilm',{'idfilm':x.idfilm}) }}">modifier</a></td>
            <td><a href="{{ path('deletef',{'idfilm':x.idfilm}) }}">EFFACER</a></td>
        </tr>

    {% endfor %}
</table>
{% endblock %}