{% extends 'base3.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Produits</h1>
    <form class="form-inline" style="float: right;">
        <div style="float: right">
            <a href="{{ path('product_show_pdf',{'store': app.user.store.id }) }}" class="telePdf">Télécharger PDF</a></div>
        <select class="form-control mb-2 mr-sm-2" id="by" style="width:auto; display:inline-block;">
            <option>id</option>
            <option>name</option>
            <option>description</option>
            <option>quantity</option>
            <option>price</option>
        </select>
        <select class="form-control mb-2 mr-sm-2" id="order" style="width:auto; display:inline-block;">
            <option value="ASC">ASC</option>
            <option value="DESC">DESC</option>
        </select>
    </form>
    <br>
<div class="row">
	<!--Name-->
                  <div class="col-md-2 ">
                        <div class="form-group iconsearch" id="filter_col1" data-column="1">
                           <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" name="nom" class="form-control column_filter" id="col1_filter" placeholder="Nom">
                        </div>
                    </div>
				
                  <div class="col-md-2 ">
                        <div class="form-group iconsearch" id="filter_col4" data-column="4">
						<span class="fa fa-search form-control-feedback"></span>
                            <input type="number" name="price" class="form-control column_filter" id="col4_filter" placeholder="Prix">
                        </div>
                    </div>
				
		
							
                 
	</div>
<br>
<div class="table-responsive" id="commtab">    
    <table class="table table-bordered table-striped" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Déscription</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Image</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody id="body">
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>  <img src="{{ asset('uploads/images/' ~ product.image) }}" width="100" height="100"> </td>
                <td>
    

                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn show"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <form method="post" action="{{path('product_delete',{'id': product.id})}}" style="display:inline-block" onsubmit="return confirm('Êtes-vous sûr de supprimer ce champ ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id)}}">
                        <button class="btn btn-danger btnSupChargerClient"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{#{{ app.user.store.id }}#}
<br><br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><a href="{{ path('store_index') }}" class="listboutshow">List boutique</a>

    </div>
    <div class="col-md-5">     <a href="{{ path('product_new',{'store': app.user.store.id }) }}" class="listprod">Ajouter produit</a> </div>
    <div class="col-md-1"></div>
    </div>
    <br><br><br>
{% endblock %}


{% block script %}


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src=" https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>

<link href="https://nightly.datatables.net/rowgroup/css/rowGroup.dataTables.css?_=bc3763029fa6dfaf4c947ef25f079107.css" rel="stylesheet" type="text/css" />
<script src="https://nightly.datatables.net/rowgroup/js/dataTables.rowGroup.js?_=bc3763029fa6dfaf4c947ef25f079107"></script>
<script>
 function filterGlobal () {
    $('#myTable').DataTable().search(
        $('#global_filter').val(),
    
    ).draw();
    }
    
    function filterColumn ( i ) {
        $('#myTable').DataTable().column( i ).search(
            $('#col'+i+'_filter').val()
        ).draw();
    }
    
    $(document).ready(function() {
                var collapsedGroups = {};
                var top = '';
        var table =$('#myTable').DataTable({
  "language": {
            "lengthMenu": "Afficher_MENU_ records per page",
            "zeroRecords": "Aucun produits trouvés",
            "info": "Afficher la page _PAGE_ de _PAGES_",
            "infoEmpty": "Aucun produits disponible",
            "infoFiltered": "(filtré à partir de _MAX_ produits)",
      "paginate": {
              "previous": "<<",
              "next": ">>"
            }
        },
        "pageLength": 10,
      
responsive: true,
         dom: 'Bfrtip',
        buttons: [
            
       
            'colvis'
        ],
   initComplete: function() {
         var $buttons = $('.dt-buttons').hide();
         $('#exportLink').on('change', function() {
            var btnClass = $(this).find(":selected")[0].id 
               ? '.buttons-' + $(this).find(":selected")[0].id 
               : null;
            if (btnClass) $buttons.find(btnClass).click(); 
         })
       }
     
      });
        
        $('input.global_filter').on( 'keyup click', function () {
            filterGlobal();
        } );
    
        $('input.column_filter').on( 'keyup click', function () {
            filterColumn( $(this).parents('div').attr('data-column') );
        } );

        $('#myTable tbody').on('click', 'td', function() {
        var name = $(this).data('name');

        collapsedGroups[name] = !collapsedGroups[name];
        table.draw(false);
        });

    } );

        $('select.column_filter').on('change', function () {
            filterColumn( $(this).parents('div').attr('data-column') );
        } );



</script>
    <script>
        $(document).ready(function(){
            $("#order").change(function(){
                load();
            });
            $("#by").change(function(){
                load();
            });
        });

        function load() {
            $.ajax({
                type: "GET",
                url: "/product/search/{{ store }}/" + $("#order").val()+"/"+ $("#by").val(),
                dataType: "text",
                success: function (data) {
                    $("#body").html(data);
                }
            });
        }
    </script>

{% endblock %}