{% extends 'base.html.twig' %}
{% block title %}

    <div class="section-title">
        <h2>Ajouter une salle de cinema</h2>

    {{ form_start(formCinema,{'attr':{'novalidate' : 'novalidate'}}) }}
    {{ form_errors(formCinema.num)}}
    {{ form_label(formCinema.num,"Numéro de la salle : ") }}
    {{ form_widget(formCinema.num)}}


    {{ form_errors(formCinema.date)}}

    {{ form_errors(formCinema.film)}}
    {{ form_end(formCinema) }}
        </div>
{% endblock %}