{% extends 'base.html.twig' %}
{% block title %}
<table border="2">
    <tr>
        <td>salle</td>
        <td>date</td>
        <td>heure</td>
        <td>film</td>
        <td>delete</td>
        <td>update</td>
</tr>

    {% for x in liststudent %}
        <tr>
            <td> {{x.num}}</td>
            <td> {{ x.date |date('d/m/Y') }}</td>
            <td> {{ x.heurep |date('H:i') }}</td>
            <td> {{ x.film}}</td>
            <td><a href="{{ path('delete',{'num':x.num}) }}">EFFACER</a></td>
            <td><a href="{{ path('updateCinema',{'num':x.num}) }}">modifier</a></td>
        </tr>

    {% endfor %}
</table>

{% endblock %}