{% extends 'base.html.twig' %}
{% block body %}

    <input type="text" id="search" class="form-control"
           placeholder="Search">
    <div>
        <table border ="1" id="t" class="table table-hover table-dark">
            <thead class="thead-dark">
            <tr>
                <td >sujet</td>

            </tr>
            </thead>
            <tbody id="all">
            {% for comme in students %}
                <tr>
                    <td>
                        {{ student.id }}
                    </td>
                    <td>
                        {{ student.nsc }}
                    </td>
                    <td>
                        {{ student.email }}
                    </td>
                    <td>
                        <a href="{{ path('updateStudent', {'id': student.id}) }}"> modifier</a>
                        <a href="{{ path('deleteStudent', {'id': student.id}) }}"> supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody id="search">
            </tbody>
        </table>
    </div>
{% endblock %}
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
    $( document ).ready(function() {
        $("#search").keyup(function(e){
            /* La variable value va prendre la valeur insérer dans le champ de texte
            afin d’effectuer la recherche */
            var value = $(this).val();
    /* Ajax est lancé lors du remplissage d