{% extends 'base2.html.twig' %}

{% block title %}RepresentantClinique{% endblock %}

{% block body %}
    <h1>RepresentantClinique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ representant_clinique.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ representant_clinique.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ representant_clinique.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ representant_clinique.cin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('representant_clinique_index') }}">back to list</a>

    <a href="{{ path('representant_clinique_edit', {'id': representant_clinique.id}) }}">edit</a>

    {{ include('representant_clinique/_delete_form.html.twig') }}
{% endblock %}
