



{{ form_start(form) }}
<br>
        <div class="row">

 <div class="col-md-6 col-sm-12 col-xs-12 ">
 
  <div class="cadreInformations">
   <div class="card-header titrecard-header">
      <h2 class="titleblock" >Informations Boutique</h2>
    </div>
  
    
              <div class="row rowSecteur">
                <div class="col-md-6 col-xs-12">
                   <label class="label">Nom *</label>
                   {{ form_row(form.name)}}
                    </div>
                    <div class="col-md-6 col-xs-12">
                     
                      </div>  </div>
                    
                  
             
                </div>
                     </div>
                 
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
           <div class="cadreInformations">
                    <div class="card-header titrecard-header">
              <h2 class="titleblock">Coordonnées Boutique</h2>
            </div>
            
            <div class="row rowSecteur">
                <div class="col-md-6 col-xs-6">
                   <label class="label" >Téléphone</label>
                   <div class="iconinput">
                  
                   {{ form_row(form.phone)}}
                  </div>
                    </div> 
                   
                <div class="col-md-6 col-xs-6">
                   <label class="label">Email</label>
                   <div class="iconinput">
              
                   {{ form_row(form.email)}}
                 </div>
                    </div> </div>
                    
                  </div>
        
                     </div>
                   
                  </div>



                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5"> 
<div class="form-actions btnAddRetourS">
    <br>


{{ form_widget(form) }}
<button class="btn btnboutiquesave">{{ button_label|default('Ajouter') }}</button>

{{ form_end(form) }}
</div>
</div>
<div class="col-md-5"> 
    <br>
<a href="{{ path('store_index') }}" class="btn btnIndexBoutique">Liste boutique</a>
<div class="col-md-1"></div>
</div>
</div>
<br><br>